@import './utils/variables';
@import './utils/visually-hidden';

@import './base/common';
@import './base/container';
@import './base/section';

@import './components/logo';
@import './components/social-icon';
@import './components/modal-window';

@import './layout/header';
@import './layout/hero';
@import './layout/benefits';
@import './layout/work';
@import './layout/team';
@import './layout/clients';
@import './layout/portfolio';
@import './layout/footer';
